<section class="first-screen">
  <div class="rotate-block">
    <img src="img/rotate-1.png" alt="">
  </div>
  <div class="abs-bg"></div>
  <div class="container">
    <div class="first-screen__wrapper">
      <div class="main-title">
        <h1>
          ЗАРАБАТЫВАЙТЕ С <span> aльфа-лидер </span>
        </h1>
        <h2>
          От <span>5 000</span> руб/сутки
        </h2>
        <p>
          Подключитесь от 0% и получайте заказы без простоя и холостого пробега
        </p>
      </div>
      <a href="#" class="main-button light">
        Подключиться
      </a>
    </div>
  </div>
</section>
